*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    height: 100px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    box-shadow: 0 2px 5px rgb(0, 0, 0, 3);
    transform: translateY(-5px);
    background: #563434;

}
.header{
    background: radial-gradient(#fff,#d6f1ff);
}

.header .row{
    margin-top: 70px 0;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%; 
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px
    /* transition: transform 0.5s; */
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    line-height: 60px;
    color: #ff523b;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 190px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:  50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #034465;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px 0;
}
.col-2 offer-imanges{
    padding: 50px;
}
small{
    color: #ff523b;
}
/* -------testimonial------ */
.testimonial{
    padding-top: 100px;
}
.testimonial .col3{
    text-align: center;
    padding: 40px 20px;
}
.testimonial .col3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
/* --------brand--------- */
.brand{
    margin: 40px auto;

}
.col5{
    width: 160px;
}
.col5 img{
    width: 130px;
    cursor: pointer;
    filter: grayscale(100%);/*---no color---*/
}
.col5 img:hover{
    filter: grayscale(0);/* hiệu ứng hiện màu khi đẩy chuột vào( hiện màu 100%=0) */
}
/* -----footer------ */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 0px 0 10px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    min-width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* ---------media query for menu---- */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* --------media query for less than 600 screen size */
@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
/* search menu */
.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.search{
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #ded9d9;
    width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search:focus-within{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-input{
    font-size: 16px;
    font-family: 'lexend',sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}
.search-input::placeholder, .search-icon{
    color: gray;
}
/* About css */
.about-us{
    padding: 80px 0px;
}
.container-about{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.row-about{
    display: flex;
    flex-wrap: wrap;
}
.flex{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}
.about-us h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #333;
}
.about-us h3{
    font-size: 22px;
    color: #888;
    margin-bottom: 8px;
}
.about-us p{
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}
.about-us img{
    display: block;
    max-width: 200%;
    height: auto;
    margin: 0 auto;
    margin-top: 70px;
    margin-right: auto;
}
.social-links{
    margin-bottom: 20px;
}
.social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    background-color: #333;
    box-shadow: 0 2px 5px rgb(0, 0, 0,3);
    transition: all 0.4s ease;
}
.social-links a:hover{
    transform: translateY(-3px);
}
.social-links a i{
    width: 40px;
    height: 40px;
    color: #2df1f1;
    filter: grayscale(100%);
}
.social-links a i:hover {
    filter: grayscale(0);
}
@media screen and(max-width:768) {
    .row-about{
        flex-direction: column;
    }
    .flex{
        max-width: 100%;
    }
    .about-us h2{
        font-size: 31px;
    }
    .about-us p{
        font-size: 16px;
    }
    .social-links a{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin-right: 5px;
    }

}
/* Contact css */
.contact{
    position: relative;
    min-height: 90vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: url(images/backgroundcontact1.png);
}
.contact .content{
    margin-bottom: 50px;
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p {
    font-weight: 300;
    color: #fff;
}
.container-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-contact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-contact .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container-contact .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    background-color: #fff;
}
.container-contact .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container-contact .contactInfo .box .text p{
    padding-top: 10px;
    color: #fff;
}
.container-contact .contactInfo .box .text h3 {
    color: #00bcd4;
    font-weight: 500;
}
.contactForm{
    width: 40%;
    padding: 40px;
    padding-bottom: 40px;
    background: #fff;
    border-radius: 10%;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-size: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}
.contactForm .inputBox-submid input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 3);
}
.contactForm .inputBox-submid{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactForm .inputBox-submid input[type="submit"]:hover{
    color: #fff;
    background-color: #dd5907;
    transform: translateY(-3px);
}
/* Account css */
.Register{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    background: url(images/backgroundcontact1.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.Wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius:10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px rgba(242, 242, 242, 0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Wrapper .form-box{
    width: 100%;
    padding: 40px;
    color: #fff;
}
.form-box h2{
    font-size: 2em;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
    margin:30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.4s;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;
}
.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    margin: -10px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;   
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn-account{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}
.login-register{
    font-size: 1em;
    color:#fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p{
    color: #fff;
}
.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
.Wrapper .icon-close{
    color: #fff;
    position: absolute;
    top: 0 ;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}